<!-- Display a  Category Modal -->
<div class="modal-content" id="category">
    <form class="form-horizontal" role="form" method="POST" id="formRegister" name="categoryForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Category</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
        <label for="Category Name" class="col-lg-3 control-label">Name</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="name" name="category_name" placeholder="Category name" ng-model="model.category_name" ng-change="checkDuplicate()" required ng-minlength="6" />
                <span class="error" ng-show="categoryForm.category_name.$error.minlength">Category name should not be less than 6 characters</span>
                 <span class="error" ng-show="isDuplicate">Category name already exist.</span>
            </div>
        </div>          
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveCategory()" ng-disabled="categoryForm.$invalid || isDuplicate">Save</button>
    </div>
    </form>
</div>
<!-- end of category modal -->