<!-- Display a  Confirmation Modal -->
<div class="modal-content" id="confirmation">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{model.title}}</h4>
    </div>

    <div class="modal-body">
        <div class="col-lg-12">
            {{model.message}}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="delete()" data-dismiss="modal" aria-hidden="true">Delete</button>
    </div>
</div>
<!-- end of the confirmation modal -->