<div class="row">
	<div class="container">
		<div class="tab-container">
		<!-- tabs left -->
		<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li class="" ng-repeat="category in categories"> 
					<a href="#{{category._id}}" data-toggle="tab">{{category.name}}</a>
						<span class="icons-category" ng>
							<a ng-click="editCategory($index)"><span class="glyphicon glyphicon-pencil"> </span></a>
							<a ng-click="deleteCategory($index, category.name, category._id)"><span class="glyphicon glyphicon-remove"> </span></a>
						</span>	
					</li>	
				</ul>
			<div class="tab-content" >
				<div class="tab-pane" ng-repeat="category in products" id="{{category.category_id}}">
					<div class="row">
							<div class="col-sm-9 col-md-3" ng-class="sample" ng-repeat="productsInCategory in category.products">
								<div class="thumbnail">
									<div class="icons">
										<p>
											<a ng-click="editProduct(productsInCategory._id, category.category_id, $index)"><span class="glyphicon glyphicon-pencil"></span></a>
											<a ng-click="deleteProduct(productsInCategory._id, category.category_id, $index)"><span class="glyphicon glyphicon-remove"></span></a>
										</p>	 	
									</div>
									<img src="{{productsInCategory.images[0].url || '/images/default.jpg'}}" width="260" height="200" alt="productsInCategory.name" align="center">
									<div class="caption"> 
										<h4>{{ productsInCategory.name }}</h4>
										<p>{{ productsInCategory.desc }}</p>
										<p>{{ productsInCategory.price | currency }}</p>
										<p><a class="btn btn-primary" role="button" ng-click="editProduct(productsInCategory._id, category.category_id, $index)">View</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


