<!-- Display a  Product Modal -->
<div class="modal-content">
	<form class="form-horizontal" role="form" method="POST" id="formRegister" name="productForm">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Product</h4>
	</div>

	<div class="modal-body">
		<div class="form-group">
		<label for="firstname" class="col-lg-2 control-label">Name</label>
			<div class="col-lg-10">
			  	<input type="text" class="form-control" name="name" id="name" placeholder="Product name" ng-model="model.name" required ng-minlength="8"/>
			  	<span class="error" ng-show="productForm.name.$error.minlength">Product name should not be less than 8 characters</span>
			</div>
		</div>

		<div class="form-group">
		<label for="firstname" class="col-lg-2 control-label">Description</label>
			<div class="col-lg-10">
			  	<textarea class="form-control" id="description" placeholder="Product description" ng-model="model.description" rows="5" name="description" ng-minlength="10" ></textarea>
			  	<span class="error" ng-show="productForm.description.$error.minlength">Product description should not be less than 10 characters</span>
			</div>
		</div>

		<div class="form-group">
		<label for="firstname" class="col-lg-2 control-label">Price</label>
			<div class="col-lg-10">
			  	<input type="text" name="price" class="form-control" id="price" placeholder="Product price" ng-model="model.price" required/>
			  	<span class="error" ng-show="productForm.price.$error.required">Specify product price</span>
			</div>
		</div>

		<div class="form-group">
			<label for="firstname" class="col-lg-2 control-label">Category</label>
			<div class="col-lg-10">
				<select ng-model="model.category_id"  name="category_selected" ng-options="categories.indexOf(category) + '-' +category._id as category.name for category in categories"/>
				</select>
				<span class="error" ng-show="categories.length == 0"><br/>No Category, please create</span>
				{{categorySelected}}
			</div>
		</div>

		<div class="form-group">
		<label for="firstname" class="col-lg-2 control-label">Mark as</label>
			<div class="col-lg-10">
					<label class="radio-inline">
						<input type="radio" name="status" id="optionsRadios1" ng-model="model.status" value="1" required /> Public
					</label>
					<label class="radio-inline">
						<input type="radio" name="status" id="optionsRadios2" ng-model="model.status" value="2" required /> Private
					</label>
					<label class="radio-inline">
						<input type="radio" name="status" id="optionsRadios3" ng-model="model.status" value="3" required /> Exclusive
						<span ng-show="model.status=='3'">
								<input type="text" class="form-control code" ng-model="model.code" placeholder="Enter a code">
						</span>
					</label>
					<span class="error" ng-show="productForm.status.$error.required"><br/>Select a status	</span>
			</div>
		</div>
		<div class="form-group">
			<label for="firstname" class="col-lg-2 control-label">Image</label>
			<div class="col-lg-10">
				<button type="button" class="btn btn-primary btn-sm" ng-click="chooseImage()">Upload</button>
				<br/><br/>
				<div class="image-products">
					<table cellspacing="5" cellspadding="5">
						<tr>
							<td valign="top" align="center" class="image-td" ng-repeat="image in model.images"><img src="{{image.url}}" alt="{{image.filename}}" width="50" height="50" class="img-thumbnail">
								<p>
									<a ng-click="deleteImage($index)"><span class="glyphicon glyphicon-remove"></span></a>
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div ng-show="model.images.length == 0"><p>No image on this product</p></div>
			</div>
		</div>		
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="saveProduct()" ng-disabled="productForm.$invalid || categories.lenght == 0 ">Save</button>
	</div>
</form>
</div><!-- /.modal-content -->
<!-- End a Product Modal -->