<!doctype html>
<html lang="en" ng-app="catalogueApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Product Catalogue</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<link href="/css/style.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="../../assets/js/html5shiv.js"></script>
			<script src="../../assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body ng-cloak>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Product Catalogue</a>
                </div>
                <div id="navigation" class="navbar-collapse collapse" ng-controller="NavigationCtrl">
                    <ul class="nav navbar-nav">
                        <li><a ng-click="categoryModal()" class="click">Add Category</a></li>
                        <li><a ng-click="productModal()"  class="click">Add Product</a></li>
                    </ul>
                    <input type="hidden" ng-model="account_id">
                    <!--  Login form -->
                    <!-- <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form> -->
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        <!-- Jumbotron header -->
        <div class="jumbotron">
            <div class="container">
                <h2>Products</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>

        <div id="catalogue">
            <div ng-view=""></div>
        </div>

        <script type="text/javascript" src="/js/underscore-min.js"></script>
        <script type="text/javascript" src="/js/angular.min.js"></script>
        <script type="text/javascript" src="/js/ui-bootstrap-0.6.0-SNAPSHOT.js"></script>
        <script type="text/javascript" src="/js/ui-bootstrap-tpls-0.6.0-SNAPSHOT.js"></script>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/catalogue/app.js"></script>
        <script type="text/javascript" src="/js/catalogue/factories.js"></script>
        <script type="text/javascript" src="/js/catalogue/controllers.js"></script>
    </body>
</html>